@media (max-width:7000px) {
  .menu{
    display: none;
  }
}
.tea-menu{
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 15px;
  display: flex;
  justify-content: center;
}
.tea-main_select{
  display: flex;
  gap: 65px;
  margin-left: 235px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.36;
  padding: 57px 0;
}
.tea-main_icons{
  margin-left: 130px;
  display: flex;
  gap: 20px;
  padding: 57px 0;
}
.tea-main_search{
  margin-left: 100px;
  padding: 57px 0;
}
@media (max-width:1174px){
  .tea-main_select{
    margin-left: 59px;
    padding: 39px 0;
  }
  .tea-main_icons{
    margin-left: 116px;
    padding: 39px 0;
  }
  .tea-main_search{
    margin-left: 50px;
    padding: 39px 0;
  }
}
@media (max-width:934px) {
  .tea-main_select{
  display: none;
  }
  .menu{
    display: flex;
    padding: 39px 0;
  }
  .tea-cup{
    margin: 0 154px 0 243px;
  }
  .tea-main_icons{
    margin: 0;
  }
}
@media (max-width:654px) {
  .tea-cup{
    margin: 0 80px 0 171px;
  }
}
@media (max-width:540px) {
  .menu{
    padding: 14px 0;
  }
  .tea-menu{
    padding: 10px 15px;
    }
  .tea-cup{
    width: 39px;
    height: 54px;
  }
  .tea-main_icons{
    padding: 14px 0;
  }
  .tea-main_search{
    margin-left: 30px;
    padding: 14px 0;
  }
}
@media (max-width:470px) {
  .tea-cup{
    margin: 0 50px 0 111px;
  }
}
@media (max-width:370px) {
  .tea-main_search{
    margin-left: 15px;
  }
}