@media (max-width:7000px) {
  .menu{
    display: none;
  }
}
.tea-menu{
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}
.tea-main_select{
  display: flex;
  gap: 65px;
  margin-left: 235px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.36;
  padding: 57px 0;
}
.tea-main_icons{
  margin-left: 130px;
  display: flex;
  gap: 20px;
  padding: 57px 0;
}
.tea-main_search{
  margin-left: 100px;
  padding: 57px 0;
}
@media (max-width:1174px){
  .tea-main_select{
    margin-left: 59px;
  }
  .tea-main_icons{
    margin-left: 120px;
  }
  .tea-main_search{
    margin-left: 50px;
  }
}
@media (max-width:934px) {
  .tea-main_select{
  display: none;
  }
  .tea-menu{
  margin: 30px auto;
  }
  .menu{
    display: flex;
    padding: 53px 0;
    margin-left: 10px;
  }
  .tea-cup{
    margin: auto 198px
  }
  .tea-main_icons{
    margin: 0;
  }
}
@media (max-width:654px) {
  .tea-cup{
    margin: auto 80px auto 171px;
  }
}
@media (max-width:540px) {
  .tea-menu{
    margin: 10px auto;
    }
  .tea-cup{
    width: 39px;
    height: 54px;
  }
  .tea-main_search{
    margin-left: 30px;
  }
}
@media (max-width:470px) {
  .tea-cup{
    margin: auto 50px auto 111px;
  }
}
@media (max-width:370px) {
  .tea-main_search{
    margin-left: 15px;
  }
}