.tea-text{
  background-image: url(/images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 250px calc(50% - 600px) 48px;
}

.tea-text_cup{
  max-width: 790px;
  font-size: 60px;
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
  font-family: "Cormorant";
  font-weight: 400;
  line-height: 60px; 
}

.tea-text_selection{
  max-width: 558px;
  margin-top: 20px;
  display: flex; 
  flex-direction: row;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.21;
  color:#FFFFFF;
}
@media (max-width:1174px) {
  .tea-text{
    padding: 250px calc(50% - 450px) 48px;
  }
}
@media (max-width:934px) {
  .tea-text{
    padding: 250px calc(50% - 370px) 48px;
  }
  .tea-text_cup{
    max-width: 684px;
}
}
@media (max-width:750px) {
  .tea-text{
    padding: 276px 15px 50px 15px;
  }
  .tea-text_cup{
    max-width: 450px;
    font-size: 40px;
    line-height: 1.21;
    
  }
  .tea-text_selection{
    max-width: 450px;
    margin-top: 20px;
  }
}
@media (max-width:467px) {
  .tea-text{
    padding: 230px 5px 30px 15px;
  }
  .tea-text_cup{
    max-width: 340px;
    font-size: 24px;
  }
  .tea-text_selection{
    max-width: 332px;
    margin-top: 10px;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 300;
    line-height: 1.36;
  }
}